<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - LongKhanh Mobile</title>
    @Styles.Render("~/Content/css")
    @*@Styles.Render("~/Content/admstyle")*@
    @*@Styles.Render("~/Content/admbootstrap")*@
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    @Html.Partial("_HeaderPartial")

    <!--Page Content-->
    <div class="page-content">
        @RenderBody()
    </div><!--Page Content Close-->
    @Html.Partial("_FooterPartial")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/mainjs")
    @Scripts.Render("~/bundles/libraryscript")
    @RenderSection("scripts", required: false)
</body>
</html>
