<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <!--Bootstrap and font-->
    @Styles.Render("~/Content/admbootstrap")

    <!--Plugin styles-->
    @RenderSection("pluginStyles", false)

    <!--Custom styles for this site-->
    @Styles.Render("~/Content/admstyle")

    <!--Support older browsers-->
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="wrapper">
        @Html.Partial("_NavigationPartial")

        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                @Html.Partial("_NavBarHeaderPartial")
            </div>

            <div class="row wrapper border-bottom white-bg page-heading">
                @Html.Partial("_PageHeaderPartial")
            </div>

            <div class="wrapper wrapper-content">
                @RenderBody()
            </div>

            <footer>
                @Html.Partial("_FooterPartial")
            </footer>
        </div>
    </div>

    <!-- Main scripts, including jquery, bootstrap, metisMenu, slimScroll-->
    @Scripts.Render("~/bundles/admmainjs")

    <!--Plugin scripts-->
    @RenderSection("pluginScripts", false)

    <!-- Custome scripts for this site-->
    @Scripts.Render("~/bundles/admcustomjs")

    <!-- Other custome scripts-->
    @RenderSection("scripts", required: false)
</body>
</html>