<nav class="nav navbar-static-top" role="navigation" style="margin-bottom:0;">

    <!--Nút bật tắt menu trái và form tìm kiếm-->
    <div class="navbar-header">
        <a href="#" class="navbar-minimalize minimalize-styl-2 btn btn-primary">
            <i class="fa fa-bars"></i>
        </a>
        @using (Html.BeginForm("Search", "Search", FormMethod.Get, new { @class = "navbar-form-custom", role = "search" }))
        {
            <div class="form-group">
                @Html.TextBox("topSearch", null, new { @class = "form-control", id = "top-search", placeholder = "Nhập từ khòa tìm kiếm" })
            </div>
        }
    </div>

    <!--Hộp thông báo, link đăng xuất-->
    <ul class="nav navbar-top-links navbar-right">
        <li>
            <span class="m-r-sm text-muted welcome-message">
                Xin chào <strong>Trần Như Long</strong>
            </span>
        </li>

        <!--Danh sách các thông báo & Email-->
        <li class="dropdown">
            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                <i class="fa fa-envelope"></i>
                <span class="label label-warning">10</span>
            </a>

            <ul class="dropdown-menu dropdown-messages">
                <li>
                    <div class="dropdown-messages-box">
                        <a class="pull-left" href="@Url.Action("View", "Message", new { area="Adm",id=31})" >
                            <img class="img-circle" src="~/Images/a1.jpg" alt="Hoàng tiến" title="Hoàng tiến" />
                        </a>
                        <div class="media-body">
                            <small class="pull-right">15 phút trước</small>
                            <strong>Hoàng tiến</strong>đã giao hàng đến <strong>Vũng Tàu</strong>
                            <br />
                            <small class="text-muted">Vui lòng xác nhận giao dịch hoàn tất</small>
                        </div>
                    </div>
                </li>
                <li class="divider"></li>

                <li>
                    <div class="dropdown-messages-box">
                        <a class="pull-left" href="@Url.Action("View", "Message", new { area = "Adm", id = 32 })">
                            <img class="img-circle" src="~/Images/a2.jpg" alt="Như Long" title="Như Long" />
                        </a>

                        <div class="media-body">
                            <small class="pull-right">30 phút trước</small>
                            <strong>Như Long</strong>đã giao hàng đến <strong>Cần Thơ</strong>
                            <br />
                            <small class="text-muted">Vui lòng xác nhận giao dịch hoàn tất</small>
                        </div>
                    </div>
                </li>
                <li class="divider"></li>

                <li>
                    <div class="dropdown-messages-box">
                        <a class="pull-left" href="@Url.Action("View", "Message", new { area = "Adm", id = 33 })">
                            <img class="img-circle" src="~/Images/a4.jpg" alt="Văn Thương" title="Văn Thương" />
                        </a>

                        <div class="media-body">
                            <small class="pull-right">45 phút trước</small>
                            <strong>Văn Thương</strong>đã giao hàng đến <strong>Đà Lạt</strong>
                            <br />
                            <small class="text-muted">Vui lòng xác nhận giao dịch hoàn tất</small>
                        </div>
                    </div>
                </li>
                <li class="divider"></li>

                <li>
                    <div class="dropdown-messages-box">
                        <a class="pull-left" href="@Url.Action("View", "Message", new { area = "Adm", id = 31 })">
                            <img class="img-circle" src="~/Images/a5.jpg" alt="Hoàng tiến" title="Nguyên Long" />
                        </a>

                        <div class="media-body">
                            <small class="pull-right">15 phút trước</small>
                            <strong>Nguyên Long</strong>đã giao hàng đến <strong>Quảng Bình</strong>
                            <br />
                            <small class="text-muted">Vui lòng xác nhận giao dịch hoàn tất</small>
                        </div>
                    </div>
                </li>
                <li class="divider"></li>
                <li>
                    <div class="text-center link-block">
                        <a href="@Url.Action("Inbox", "Message", new { area="Adm"})">
                            <i class="fa fa-envelope"><strong>Xem tất cả các tin nhắn</strong></i>
                        </a>
                    </div>
                </li>
            </ul>
        </li>
        <!--Hết phần hiển thị thông báo & email-->

        <!--Thống kê các hoạt động-->
        <li>
            <a class="dropdown-toggle count-info" href="#" data-toggle="dropdown">
                <i class="fa fa-bell"></i>
                <span class="label label-primary">5</span>
            </a>
            <ul class="dropdown-menu dropdown-alerts">
                <li>
                    <a href="@Url.Action("Inbox", "Message", new { area="Adm"})">
                        <div>
                            <i class="fa fa-envelope fa-fw"></i>Bạn có 10 tin nhắn mới
                            <span class="pull-right text-muted small">5 Phút trước</span>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li >
                    <a href="@Url.Action("LockedAccount", "Account", new { area="Adm"})">
                        <div>
                            <i class="fa fa-lock fa-fw"></i> 2 tài khoản đã bị xóa
                            <span class="pull-right text-muted small">10 phút trước</span>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>

                <li>
                    <div class="text-center link-block">
                        <a href="@Url.Action("Notification", "Message", new { area="Adm"})">
                            <strong>Xem tất cả các thông báo</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </li>
            </ul>
        </li>
        <!--Hết thống kê các hoạt động-->

        <!--Nút đăng xuất-->
        <li>
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id="logoutForm"}))
            {
                @Html.AntiForgeryToken();
                
                <a href="javascript:document.getElementById('logoutForm').submit()">
                    <i class="fa fa-sign-out"></i>
                    <strong>Log Off</strong>
                </a>
            }
        </li>
        <!--Hết nút đăng xuất-->
    </ul>
</nav>